$position:center;
$padding: calc(50% - 570px);
$font: Lato;
$position_r: relative;
$BackgroundColor:#222;
$color:#F16D7F;
$FontStyle: normal;
$PaddingMedia: 16px;
$PaddingMediaPS: 32px;
$Decoration:none;